body {
    background-color: rgb(241, 236, 228);
}

#header {
    font-size: 60px;
    font-family: 'times new roman';
    color:#fff;
    text-align: center;
    border-bottom: 10px solid black;

}

#main{
    width:70%;
    margin-left: 15%;
    margin-top:2%;
    background-color:rgb(39, 39, 39);
    border: 3px solid black;
    border-radius: 1px;
}

#border {
    padding: 1% 5% 5% 5%;
}

#white {
    background-color:#fff;
    padding:20px;
}

#nothing {
    font-size:30px;
    font-family: 'arial black';
    text-align: center;
}

.tags, .moretags{
	font-family: Arial;
	font-size: 16pt;
	background: rgb(220, 220, 220);
	color: black;
	cursor: pointer;
}

#menu {
    top:0;
    margin-left:43%;
    font-size:20px;
}

.button {
   width:130px;
    height:30px; 
    position:absolute;
    background-color:rgb(61, 61, 61);
    padding:10px; 
    text-align:center; 
    font-size:25px; 
    color:#fff; 
    border-radius:5px; 
    margin:10px;
}

.button:hover {
    background-color:rgb(206, 206, 206);
    border: 2px solid black;
    color:rgb(0, 0, 0);
}
